<div class="row">

  <div class="col-md-12">
    <table class="table table-bordered table-striped">
      <tr>
        <th>ID</th>
    
      </tr>
      <tr *ngFor="let c of courseList" >
       
        <td>{{ c.id }}</td>
        <td>{{ c.coursename }}</td>
      </tr>
    </table>
  </div>  
</div>
<div class="row">
  <div class="col-md-3">
    <button class="btn btn-danger">Add New Course</button>
  </div>
</div>